<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add To cart</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/addcart.css">
</head>

<body class = "container">
    <!--<div style="margin-left: 30%;margin-top: 10%">-->
    <div id="itemSelection" style="margin-top: 50px;" class="panel panel-primary">
    <div class ="panel-heading centered"><h4>Item Selection</h4></div>
        <div clas="panel-body">
        <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-bottom: 30px;">
        
            <label for="items">Select Item</label>
            <select id="items" name="items" class="form-control" >
                <option>Gehu</option>
                <option>Bajara</option>
            </select><br>
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control"  name="quantity" id="quantity" placeholder="Enter quantity in Kg"><br>
            <label for="quality">Quality</label><br>
            <input type="radio" name="quality" id="high" value="High" checked> High<br>
            <input type="radio" name="quality" id="medium" value="Medium" > Medium<br>
            <input type="radio" name="quality" id="low" value="Low" > Low<br><br>
            <input type="submit" class="btn btn-space btn-success" name="addcart" id="addcart" value= "Add Cart">
            <input type="submit" class="btn btn-space btn-success" name="buy" id="buynow" value= "Buy Now">
        </div>
        </div>
    </div>
</div>
<div id="paymentOptions" style="margin-top: 50px;" class="panel panel-primary panel-transparent">
    <div class="panel-heading middle"><h4>Payment Type</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <button type="button" class="btn btn-space btn-success btn-lg" name="cod" id="cod"> Cash on Delivery</button>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <button type="button" class="btn btn-space btn-success btn-lg" name="credit" id="credit">Credit/Debit/ATM card</button>
                </div>
                <div>
                	<button type="button" class="btn btn-space btn-info btn-md" name="back1" id="back1">Back</button>
           		</div>
            </div>
        </div>
</div>

<div id="add" style="margin-top: 50px;" class="panel panel-primary panel-transparent">
	<div class="panel-heading middle"><h4>Address</h4></div>
        <div class="panel-body">
            <div class="row">
            	<div class="col-md-4 col-md-offset-1">
            		<input type="text" class="form-control" style="height:60px;" name="add" id="add" placeholder="Enter address here.."><br>
            	</div>
            	<div class="col-md-4 col-md-offset-1">
                    <button type="button" class="btn btn-space btn-success btn-lg" name="addbtn" id="addbtn"> Save Address</button>	
                </div>
                <div>
                	<button type="button" class="btn btn-space btn-info btn-md" name="back3" id="back3">Back</button>
           		</div>
            </div>
        </div>
</div>
<div id="addressOption" style="margin-top: 50px;" class="panel panel-primary panel-transparent">
	<div class="panel-heading middle"><h4>Address</h4></div>
        <div class="panel-body">
            <div class="row">
            	<div class="col-md-4 col-md-offset-1">
            		<input type="text" class="form-control" style="height:60px;" name="address" id="address" placeholder="Enter address here.."><br>
            	</div>
            	<div class="col-md-4 col-md-offset-1">
                    <button type="button" class="btn btn-space btn-success btn-lg" name="addressbtn" id="addressbtn"> Save Address</button>	
                </div>
                <div>
                	<button type="button" class="btn btn-space btn-info btn-md" name="back2" id="back2">Back</button>
           		</div>
            </div>
        </div>
</div>
<div id="card" style="margin-top: 50px;" class="panel panel-primary panel-transparent">
	<div class="panel-heading middle"><h4>Card Details</h4></div>
        <div class="panel-body">
            <div class="row">
            	<div class="col-md-4 col-md-offset-1">
		    		<label for="cardno">Card Number</label>
            		<input type="text" class="form-control"  name="cardno" id="cardno" placeholder="Enter Card Number"><br>
            		<label for="cardcvv">CVV Number</label>
            		<input type="text" class="form-control"  name="cardcvv" id="cardcvv" placeholder="Enter CVV "><br>
            		<label for="cardpin">PIN</label>
            		<input type="text" class="form-control"  name="cardpin" id="cardpin" placeholder="Enter PIN "><br>
            	</div>
            	<div  class="col-md-8 col-md-offset-1">
                	<button type="button" class="btn btn-space btn-info btn-md" name="back4" id="back4">Back</button>
                	<button type="button" class="btn btn-space btn-info btn-md" name="next" id="next">Next</button>
           		</div>
            </div>
        </div>   
</div>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="../js/libs/jquery.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<script src="../js/buysale.js"></script>
<script src="../js/addcart.js"></script>
<script src="../js/prototype.js"></script>
<script src="../js/url.js"></script>
</body>
</html>